h1{
    color:blue;
    font-family:fantasy;
    font-size:100px;
}
h2{
    color:blue;
    font-family:fantasy;
    font-size:55px;
}
#username{
    border-radius:10px;
    width: 350px;
    height: 20px;
}
#buttom{
    border-radius:10px;
    width: 100px;
    height: 30px;
}
html{
    text-align:center;
    background-color:white
}