<!DOCTYPE html>
<html>
<header>
    <title>AWAC</title>
</header>
<body>
    <h2> AWAC</h2>
    <link href="first.css" rel="stylesheet" type="text/css">
    <form action="/" method ="POST">
        <input type="text" id="username" name="username"><br/><br/>
        <input type="submit" id="buttom" value="送出">
    </form>
</body>
</html>